@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color:lightblue;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: darkblue;
}

.output {
  /* position: absolute; */
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
  color: white;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: lightblue;
  border: none;
  text-align: center;
  color: white;
}

.textinp{
  width: 500px;
}
.di{
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
  color: white; 
}
input:focus {
  outline: none;
}
.output{    
    display: flex;
    justify-content: center;
    align-items: center;
}